<div class="search-container">
  <header>
    <h1>Browse through our directory and find your dream job!</h1>
    <h4>Lorem ipsum dolor sit amet, cum aperiam appellantur te, mea petentium expetes.</h4>
  </header>
  <section class="search-container__form">
    <mat-grid-list [cols]="screen.searchForm.cols" [gutterSize]="screen.searchForm.gutter" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="fill" floatLabel="auto">
          <label for="keyword">Kerwords</label>
          <input [formControl]="description" id="keyword" matInput>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill" floatLabel="auto">
          <label for="location">Location</label>
          <input [formControl]="location" id="location" matInput/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="search()" class="btn-search" color="primary" mat-raised-button>SEARCH</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="screen.searchForm.cols">
        <div class="types">
          <mat-checkbox (change)="setType($event)" value="contract">Contract</mat-checkbox>
          <mat-checkbox (change)="setType($event)" value="freelance">Freelance</mat-checkbox>
          <mat-checkbox (change)="setType($event)" value="full_time">Full Time</mat-checkbox>
          <mat-checkbox (change)="setType($event)" value="internship">Internship</mat-checkbox>
          <mat-checkbox (change)="setType($event)" value="part_time">Part Time</mat-checkbox>
          <mat-checkbox (change)="setType($event)" value="temporary">Temporary</mat-checkbox>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <section class="search-container__results">
    <article *ngFor="let job of jobs" class="search-container__job">
      <mat-grid-list [cols]="screen.resultSection.cols" [gutterSize]="screen.resultSection.gutter">
        <mat-grid-tile>
          <img [src]="job.company_logo" width="88">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="screen.resultSection.colspan">
          <div class="job__details">
            <h2 [ngStyle]="{ marginBottom: screen.resultSection.cols === '4' ? '0' : 'auto' }">{{ job.title }}</h2>
            <section>
              <h2 [ngStyle]="{
              width: screen.resultSection.cols === '4' ? '100%' : 'auto',
              marginBottom: screen.resultSection.cols === '4' ? '0' : 'auto'
               }">{{ job.company }}</h2>
              <h3>
                <mat-icon>room</mat-icon>
                {{ job.location }}
              </h3>
              <h3>
                <mat-icon>schedule</mat-icon>
                {{ job.type }}
              </h3>
            </section>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </article>
  </section>
</div>
