:host {
  header, .search-container__form {
    padding: 20px;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-checkbox {
    margin-right: 15px;
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn-search {
    width: 50%;
    height: 50%;
  }

  .search-container__job {

    .job__details {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 100%;

      & > section {
        display: flex;
        width: 100%;
        color: #8a959e;
        flex-wrap: wrap;

        & > h2, & > h3 {
          display: flex;
          margin-right: 15px;

          .mat-icon {
            margin-right: 5px;
          }
        }

        & > h2 {
          font-weight: bold;
        }
      }
    }
  }
}
